sweep:
  description: "Demo sweep"
  project: ethiopia-sweep
  method: bayes  # grid or "random" or "bayes"
  metric:
    name: meta_score
    goal: minimize

  parameters:
    model:
      parameters:
        latent_size:
          distribution: int_uniform
          min: 1
          max: 24
        beta:
          distribution: log_uniform_values
          min: 0.0001
          max: 1
        lr:
          distribution: log_uniform_values
          min: 0.0001
          max: 0.1
        dropout:
          min: 0
          max: 0.5
        activation:
          values: [True, False]
        normalize:
          values: [True, False]
        depth:
          min: 1
          max: 4
        hidden_size:
          min: 8
          max: 512

    generate:
      parameters:
        sample:
          values: [argmax, multinomial]

seed: 12345

logging:
  dir: "logs"

data:
  train_path: data/ethiopia/ethiopia_data_cleaned.csv
  columns: [
        age,
        sex,
        dist_road,
        dist_market,
        dist_border,
        dist_popcenter,
        dist_admhq,
        denomination,
        total_cons_ann,
        nom_totcons_aeq,
        walls_material,
        roof_material,
        floor_material,
  ]
  controls: [
    sex,
    age,
    denomination,
  ]

datamodule:
  val_split: 0.1
  test_split: 0.0
  train_batch_size: 1024
  val_batch_size: 1024
  test_batch_size: 1024
  gen_batch_size: 1024
  num_workers: 4
  pin_memory: False

gen_dataloader:
  batch_size: 1024
  num_workers: 4
  pin_memory: False

model:
  latent_size: 22
  beta: 0.1
  lr: 0.0001
  dropout: 0.3
  activation: True
  normalize: True
  controls_encoder:
    depth: 3
    hidden_size: 256
  encoder:
    depth: 2
    hidden_size: 256
  decoder:
    depth: 2
    hidden_size: 256

early_stopping:
  patience: 20

trainer:
  min_epochs: 10
  max_epochs: 100
  check_val_every_n_epoch: 1
  log_every_n_steps: 10

generate:
  target_path: None
  sample: argmax

evaluate:
  orders: [1,2,3]
  homogeneity: True
  incorrectness: True