seed: 12345

logging:
  dir: "logs"
  name: "tune_ethiopia"

tune:
  trials: 500
  timeout: 3600  # seconds

data:
  train_path: data/ethiopia/ethiopia_data_cleaned.csv
  columns: [
        age,
        sex,
        dist_road,
        dist_market,
        dist_border,
        dist_popcenter,
        dist_admhq,
        denomination,
        total_cons_ann,
        nom_totcons_aeq,
        walls_material,
        roof_material,
        floor_material,
  ]
  controls: [
    sex,
    age,
    denomination,
  ]

datamodule:
  val_split: 0.1
  test_split: 0.1
  train_batch_size: 1024
  val_batch_size: 1024
  test_batch_size: 1024
  gen_batch_size: 1024
  num_workers: 4
  pin_memory: False

gen_dataloader:
  batch_size: 1024
  num_workers: 4
  pin_memory: False

model:
  latent_size: trial.suggest_int("latent_size", 2, 24, step=2)
  beta: trial.suggest_float("beta", 0.1, 1, step=0.1)
  lr: trial.suggest_float("lr", 0.0001, 0.1, log=True)
  controls_encoder:
    depth: trial.suggest_int("controls_depth", 1, 4)
    hidden_size: trial.suggest_categorical("hidden_size", [32, 64, 128, 256, 512])
  encoder:
    depth: trial.suggest_int("depth", 1, 4)
    hidden_size: trial.suggest_categorical("hidden_size", [32, 64, 128, 256, 512])
  decoder:
    depth: trial.suggest_int("depth", 1, 4)
    hidden_size: trial.suggest_categorical("hidden_size", [32, 64, 128, 256, 512])

early_stopping:
  patience: 10

trainer:
  min_epochs: 10
  max_epochs: 100
  check_val_every_n_epoch: 1

generate:
  target_path: None
  sample: trial.suggest_categorical("sample", ["multinomial", "argmax"])

evaluate:
  include: None
  exclude: None
  orders: [1,2,3]

