seed: 1234

logging:
  dir: "logs"
  name: "tune_demo"

tune:
  trials: 500
  timeout: 3600  # seconds

data:
  train_path: data/census.csv
  columns: {
    approx_social_grade: social,
    country_of_birth_3a: country_of_birth,
    economic_activity_status_10m: employment_status,
    ethnic_group_tb_6a: ethnicity,
    health_in_general: health,
    hh_families_type_6a: household_type,
    hours_per_week_worked: hours_worked,
    in_full_time_education: full_time_student,
    industry_10a: industry,
    iol22cd: io_london,
    legal_partnership_status_6a: marital_status,
    occupation_10a: occupation,
    region: region,
    religion_tb: religion,
    residence_type: residence_type,
    resident_age_7d: age_group,
    sex: sex,
    usual_short_student: residency_type,
  }
  controls: [
    sex,
    age_group,
    region,
  ]

datamodule:
  val_split: 0.1
  test_split: 0.1
  train_batch_size: 1024
  val_batch_size: 1024
  test_batch_size: 1024
  gen_batch_size: 1024
  num_workers: 4
  pin_memory: False

gen_dataloader:
  batch_size: 1024
  num_workers: 4
  pin_memory: False

model:
  latent_size: trial.suggest_int("latent_size", 2, 24, step=2)
  beta: trial.suggest_float("beta", 0.1, 1, step=0.1)
  lr: trial.suggest_float("lr", 0.0001, 1, log=True)
  hidden_size: trial.suggest_categorical("hidden_size", [16, 32, 64, 128])
  controls_encoder:
    depth: trial.suggest_int("depth", 1, 4)
  encoder:
    depth: trial.suggest_int("depth", 1, 4)
  decoder:
    depth: trial.suggest_int("depth", 1, 4)

early_stopping:
  patience: 2

trainer:
  min_epochs: 5
  max_epochs: 100
  check_val_every_n_epoch: 1

evaluate:
  include: None
  exclude: None
  orders: [1,2,3]

